.reset-password {
    height: 100vh; 
    background-color: #0a192f;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.reset-password form{
    border-radius: .58rem;
    border: 2px solid #64ffda;
    box-shadow: 0 0.125rem 1rem rgba(100, 255, 218, 0.5);
}


.reset-password form label {
    color: #ccd6f6 !important;
}
.reset-password form label span{
    color: crimson !important;
    font-size: 1.5rem;
    margin: 2px;
}